@{
    ViewData["Title"] = "Home Page";
}

@model List<Chef>
    
    <table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Age</th>
            <th>Number of Dishes</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Chef c in Model)
        {
        <tr>
            <th>@c.FirstName @c.LastName</th>
            <th>@c.GetAge()</th>
            <th>@c.CreatedDishes.Count</th>
        </tr>
        }
    </tbody>
</table>

