@{
    Layout = "_EmptyLayout";
    int? UserId = Context.Session.GetInt32("UserId");
    bool Sessioned = UserId != null;
}

<div class="row">
    <div class="col shadow p-4 m-2">
        @await Html.PartialAsync("_RegisterForm")
    </div>
    <div class="col shadow p-4 m-2">
    @await Html.PartialAsync("_LoginForm")
    </div>
</div>
