@{
    ViewData["Title"] = "A Web Page";
    Layout = "_NoNav";
}
@model Monster

<div class="card w-50 form-control text-left m-3">
<h1>Monster Info!!</h1>
<div>
        <p >Monster ID: @Model.MonsterId</p>
        <p>Name: @Model.Name</p>
        <p>Height: @Model.Height feet tall</p>
        <p>Description: @Model.Description</p>
</div>
<a asp-action="Index" asp-controller="Home" class="btn btn-danger col-sm-2 item-align-end">Go Back</a>
</div>