<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>A Web Page</title>
</head>
<body>
    <div>
            @Model DojoSurveyWModel
        <fieldset>
        <h1> Submitted Info </h1>
        <p>Name:  @model.Name</p>
        <p>Dojo Location: @ViewBag.Location </p>
        <p>Favorite Language: @ViewBag.Language</p>
        <p>Comment (Optional):  @ViewBag.Comment</p>
        <a href="http://localhost:5005" type="button">Go Back</a>
        </fieldset>
    </div>
</body>
</html>