@{
    int Sessioned = (int)Context.Session.GetInt32("UserId");
    @await Html.PartialAsync("_Navbar")
}


@model Wedding


<h5>Plan a wedding</h5>
<form asp-action="CreateWedding" asp-controller="Wedding" method="post">
    <div class="row">
        <div class="col">
            <div class="mb-3">
                <label asp-for="WedderOne">Wedder One:</label>
                <input asp-for="WedderOne" class="form-control">
                <span asp-validation-for="WedderOne" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="WedderTwo">Wedder Two:</label>
                <input asp-for="WedderTwo" class="form-control">
                <span asp-validation-for="WedderTwo" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Date">Date:</label>
                <input asp-for="Date" class="form-control">
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="mb-3">
        <input type="submit" value="Create" class="btn btn-primary">
    </div>
</form>