@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1>Here is a message</h1>

    <div class="text-center">
        <p> 
            Random text is shown here. Random text is shown here. Random text is shown here.
        </p>
        <p>
            Random text is shown here. Random text is shown here. Random text is shown here.
        </p>
        <p>
            Random text is shown here. Random text is shown here. Random text is shown here.
        </p>
        <p>
            Random text is shown here. Random text is shown here. Random text is shown here.
        </p>
    </div>
</div>
