@{
    ViewData["Title "] = "Numbers";
}

@model List<int>

<div class="text-center">
<h1>Here are some numbers</h1>
    @foreach (int Numbers in Model)
    {
    <p>@Numbers</p>
    }
    </div>
</fieldset>