<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>A Web Page</title>
</head>
<body>
    <p><a href="http://localhost:5143/">Home</a> |  <a href="http://localhost:5143/projects">Projects</a> | Contact</p>
    <h1>Contact me!</h1>
    <form>
        <div>
        <label for="">Name</label>
        <input type="text">
        </div>
        <br>
        <div>
        <label for="">Email</label>
        <input type="text">
        </div>
        <br>
        <div>
        <label for="">Message</label>
        <textarea name="message" class=""></textarea>
        </div>
        <button>Send</button>
    </form>
</body>
</html>