@{
    @await Html.PartialAsync("_Navbar")
}


@model Coupon
<div>Add Coupon</div>

<div class="card w-50 form-control text-left m-3">
    <h1 class="text-left">Add a Coupon</h1>
    <form asp-action="CreateCoupon" asp-controller="Coupon" method="post">
        <div class="mb-3 form-label">
            <label asp-for="CouponCode" class="form-label">Coupon Code</label>
            <input asp-for="CouponCode" class="form-control">
            <span asp-validation-for="CouponCode" class="text-danger"></span>
        </div>
        <div class="mb-3 form-label">
            <label asp-for="Website" class="form-label">Website application on</label>
            <input asp-for="Website" class="form-control">
            <span asp-validation-for="Website" class="text-danger"></span>
        </div>
        <div class="form-label">
            <label asp-for="Description" class="form-label">Description</label>
            <textarea asp-for="Description" class="form-control"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="mb-3">
        <input type="submit" value="Add coupon" class="btn btn-primary">
    </div>
    </form>