@{
    ViewData["Title"] = "A Web Page";
    Layout = "_NoNav";
}
@model Dish

<div class="card w-50 form-control text-left m-3">
    <h1 class="text-center">Add a new Dish!</h1>
    <form asp-action="CreateDish" asp-controller="Dish" method="post">
        <button class="btn btn-primary">Add Dish</button>
        <div class="form-label">
            <label asp-for="Name" class="form-label">Name:</label>
            <input asp-for="Name" class="form-control">
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-label">
            <label asp-for="Chef" class="form-label">Chef:</label>
            <input asp-for="Chef" class="form-control">
            <span asp-validation-for="Chef" class="text-danger"></span>
        </div>
        <div class="form-label">
            <label asp-for="Tastiness" class="form-label">Tastiness:</label>
            <input asp-for="Tastiness" class="form-control">
            <span asp-validation-for="Tastiness" class="text-danger"></span>
        </div>
        <div class="form-label">
            <label asp-for="Calories" class="form-label">Calories:</label>
            <input asp-for="Calories" class="form-control">
            <span asp-validation-for="Calories" class="text-danger"></span>
        </div>
        <div class="form-label">
            <label asp-for="Description" class="form-label">Description</label>
            <textarea asp-for="Description" class="form-control"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
    </form>
</div>
