@{
    @await Html.PartialAsync("_Navbar")
    int UserId = (int)Context.Session.GetInt32("UserId");
}

@model Post


<div class="card w-50 form-control text-left m-3">
    <h1 class="text-center">Edit Post</h1>
    <form asp-action="Edit" asp-controller="Post" asp-route-postId="@Model.PostId" method="post">
        <div class="mb-3 form-label">
            <label asp-for="ImgURL" class="form-label">ImgURL (URL format please)</label>
            <input asp-for="ImgURL" class="form-control">
            <span asp-validation-for="ImgURL" class="text-danger"></span>
        </div>
        <div class="mb-3 form-label">
            <label asp-for="Title" class="form-label">Title</label>
            <input asp-for="Title" class="form-control">
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
        <div class="mb-3 form-label">
            <label asp-for="Medium" class="form-label">Medium</label>
            <input asp-for="Medium" class="form-control">
            <span asp-validation-for="Medium" class="text-danger"></span>
        </div>
        <div class="mb-3 form-label">
            <label asp-for="ForSale" class="form-label">For Sale</label>
            <input asp-for="ForSale"  type ="checkbox">
            <span asp-validation-for="ForSale" class="text-danger"></span>
        </div>
        <button class="btn btn-primary">Update</button>
    </form>