@{
    ViewData["Title"] = "ArtStagram";
}


<div class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <a href="/posts">ArtStagram</a> <a href="/posts/new">Add a Post</a>
    <form asp-controller="User" asp-action="Logout" method="post">
        <button type="submit" class="btn btn-link">Logout</button>
    </form>
</div>
