<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>A Web Page</title>
</head>
    <body>
        <Fieldset>
            <form action="results" method="post">
                <div>
                    <label for="name">Your Name</label>
                    <input type="text" name= "name">
                </div>       
                <div>
                    <label for="location">Dojo Location</label>
                    <input type="text" name= "location">
                </div>       
                <div>
                    <label for="name">Favorite Language</label>
                    <input type="text" name= "language">
                </div>  
                <div>     
                    <label>Comment</label>
                        <textarea type= "text" name="Comment"></textarea>
                </div>
                        <input type="submit" value="submit"/>
            </form>
        </Fieldset>
    </body>
</html>